extends layout 

block content 
    .flex.flex-row.flex-wrap
        each category in category_list
            div.card.w-96.bg-base-200.shadow-xl.mx-6
                div.card-body
                    h2.card-title #{category.name}
                    p #{category.description}
                    div.flex.flex-row
                        form(method='POST' action=`${category.url}/delete`)
                            input#categoryid.input.input-bordered.w-full.max-w-xs(type='hidden',name='categoryid', required='true', value=category._id )
                            button.btn.btn-primary(type='submit') Delete
                        form(method='GET' action=`${category.url}/update`).mx-6
                            input#categoryid.input.input-bordered.w-full.max-w-xs(type='hidden',name='categoryid', required='true', value=category._id )
                            button.btn.btn-secondary(type='submit') Update