extends layout

block content
  h1.ml-6= title
  .flex.flex-row.flex-wrap
      .card.card-compact.w-96.bg-base-100.shadow-xl.m-8
        figure
          img(src='/images/refrigerator.webp' alt='Refrigerator')
        .card-body
          p.badge Category: #{item.category.name}
          h2.card-title #{item.name} 
          p #{item.description} 
          p.badge Number Available: #{item.stock}
          .card-actions.justify-start
            button.btn.btn-primary Buy Now: $#{item.price}
          a(href="").text-slate-400 Update Item
          form(method='POST' action=`${item.url}/delete`)
            input#itemid.input.input-bordered.w-full.max-w-xs(type='hidden',name='itemid', required='true', value=item._id )
            button.btn.btn-warning.btn-xs(type='submit') Delete Item